{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center  " style="height: 100vh;">
    <div class="col-md-6">

   
    <div class="text-center">
      
{% for error in form.archivo.errors %}
{% if error.code == 'invalid_image' %}
    <span class="error-message">Cargue una imagen válida. El archivo que ha subido no es una imagen o está corrupto.</span>
{% else %}
    <span class="error-message">{{ error }}</span>
{% endif %}
{% endfor %}
<button onclick="goBack()" class="btn btn-primary btn-block">Volver</button>
    </div>
</div>
</div>

{% include 'footer.html' %}
<script>
    function goBack() {
        window.history.back();
      }
    </script>
{% endblock %}



