{% extends 'base.html' %}
{% block title %}Codigo incorrecto{% endblock %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Codigo incorrecto</h2>
            </div>
            <div class ="card-body"> 
                <p>El código que has introducido es incorrecto.</p>
                <p>{{ mensaje }}</p>
                <button onclick="goBack()" class="btn btn-primary btn-block">Volver</button>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
<script>
    function goBack() {
        window.history.back();
      }
    </script>
{% endblock %}