{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Verificar código:</h2>
            </div>
            <div class ="card-body">
                <p>Se ha enviado un código de confirmación a tu correo electrónico. Por favor, ingrésalo a continuación:</p>
             <form method="post">
                {% csrf_token %}
                <label for="codigo_confirmacion">Código de Confirmación:</label><br>
                <input type="text" id="codigo_confirmacion" name="codigo_confirmacion"><br><br>
                <button class="btn btn-primary btn-block" type="submit">Verificar</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}


