{% extends 'base.html' %}

{% block title %}Citas Segundo Trimestre{% endblock %}

{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center" style="height: 100vh;">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Citas Segundo Trimestre:</h2>
            </div>
            <div class ="card-body"> 
                <a href="matrona/uno" class="btn btn-primary btn-block">Matrona</a>
                <a href="obstetra" class="btn btn-primary btn-block">Obstetra</a>
                <a href="extracciones" class="btn btn-primary btn-block">Extracciones</a>
                {% if receta_hierro %}
                <a href="medicina_familia/hierro/" class="btn btn-primary btn-block">Medicina de Familia - Receta hierro</a>
                {% endif %}
                <a href="matrona/dos" class="btn btn-primary btn-block">Matrona</a>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}