{% extends 'base.html' %}
{% block title %}Bolso para el hospital{% endblock %}
{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center" style="height: 100vh;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Bolso para el hospital:</h2>
            </div>
            <div class ="card-body"> 
                <p>Esto no cabe en el bolso, pero es lo más importante: LA SILLITA PARA EL COCHE.</p>
                <p>En estas dos listas plasmo lo que pienso que es mas esencial y lo que he necesitado llevar yo. Para aseguraros cuando se acerque la fecha y vayais a prepararlo todo es conveniente que llameis al hospital donde vayais a dar a luz, por si ellos no dan pañales y teneis que llevarlos o cualquier otra cosa que penseis que sea necesaria.</p>
                <p>Bolso para el bebé:</p>
                <ul>
                    <li>4 pijamas (manga corta y larga)</li>
                    <li>4 bodies (manga corta y larga)</li>
                    <li>2 gorritos</li>
                    <li>Calcetines</li>
                    <li>4 gasas de muselina</li>
                    <li>Mantita</li>
                    <li>Toallitas</li>
                    <li>Crema culito (solo echar si lo tiene rojo)</li>
                    <li>Cepillo pelo de bebés</li>
                    <li>Conjunto para cuando salga del hospital</li>
                </ul>
                <p>Bolso para la mamá:</p>
                <ul>
                    <li>3 camisones con abertura delantera para dar el pecho</li>
                    <li>Zapatillas de andar por casa o chanclas</li>
                    <li>Discos absorbentes y crema para evitar grietas en los pezones</li>
                    <li>Bata</li>
                    <li>Bragas desechables o de algodón</li>
                    <li>3 sujetadores</li>
                    <li>Calcetines</li>
                    <li>Compresas postparto</li>
                    <li>Neceser: cepillo y pasta de dientes, cepillo para el pelo, coleteros o pinzas, cacao y desodorante</li>
                    <li>Ropa para cuando salga del hospital</li>
                    <li>DNI, tarjeta seguridad social y documentos del embarazo</li>
                </ul>

            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}