{% extends 'base.html' %}
{% block title %}Contracciones{% endblock %}
{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center" style="height: 100vh;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Contracciones:</h2>
            </div>
            <div class ="card-body"> 
                <p>Durante el embarazo pueden darse un tipo de contracciones denominadas contracciones de Braxton Hicks, estas contracciones no indican que estes de parto. En caso de sentir molestias de todos modos vaya al hospital para que comprueben que todo está bien.</p>
                <p>En el siguiente <a href="https://enfamilia.aeped.es/edades-etapas/parto-normal">enlace</a> viene explicado el proceso de un parto normal con cada una de sus etapas.</p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}