{% extends 'base.html' %}
{% block title %}Cuidados del cordón umbilical{% endblock %}
{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center" style="height: 100vh;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Cuidados del cordón umbilical:</h2>
            </div>
            <div class ="card-body"> 
                <p>A lo largo de los años este es un tema que ha ido cambiando mucho... Mi madre me contaba que cuando yo nací (de eso hace 30 años) les decían a las madres que había que curarlo con betadine y hoy en día está demostrado que no es bueno aplicar ese tipo de procutos en una embarazada ni en un recien nacido.</p>
                <p><a href="https://enfamilia.aeped.es/edades-etapas/cuidados-cordon-umbilical">Aquí</a> podeis acceder a información relacionada con los cuidados del cordón umbilical.</p>
                <p>A la hora de cambiar el pañal asegurate siempre de que este no tape el cordón para que esté siempre sequito.</p>
                <p>Tardará entre unos 5 y 10 días en desprenderse solo.</p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}

