{% extends 'base.html' %}
{% block title %}Ejercicios{% endblock %}
{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center" style="height: 100vh;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Ejercicios:</h2>
            </div>
            <div class ="card-body"> 
                <p>Hace años era una locura ver a una mujer embarazada realizando ejercicio. Pero con el paso de los años se ha demostrado que cierto tipo de ejercicios pueden ser muy beneficiosos durante esta etapa.</p>
                <p>Realícelos siempre y cuando su embarazo se esté desarrollando de forma normal y de todas formas consulte con su matrona y ginecóloga si es seguro realizarlos. Abandone su rutina de ejercicios de preparación al parto en el momento que le suponga mucho agotamiento o se note alguna molestia o dolor a la hora de realizarlos.</p>
                <p>Si estás interesada en realizar ejercicios de preparación al parto no se fie de realizarlos por su cuenta viendo videos de internet ya que estos pueden haber sido realizados por personas no cualificadas, o quizás para el tiempo de gestación en el que se encuentre no sean los mas adecuados. Mi consejo es que busque un profesional con la formación adecuada que le guíe y le proponga ejercicios en función a sus necesidades.
                </p>
                <p>Y sobretodo es muy bueno caminar, los paseos vienen muy bien tanto para el cuerpo como para la mente.</p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}