{% extends 'base.html' %}
{% block title %}Inducción al parto{% endblock %}
{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center" style="height: 100vh;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Inducción al parto:</h2>
            </div>
            <div class ="card-body"> 
                <p>La inducción al parto se puede dar por tres posibles razones:</p>
                <ul>
                    <li>Necesidades del bebé (venga muy grande, falta de líquido...)</li>
                    <li>Necesidades de la mamá</li>
                    <li>El embarazo se prolongue más de la  cuenta</li>
                </ul>
                <p>La inducción al parto se lleva a cabo administrando a la futura mamá oxitocina (conocida como la hormona del amor, la calma y el contacto), esta hace que se generen las contracciones para que así comience el parto.</p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}