{% extends 'base.html' %}

{% block title %}Lactancia{% endblock %}

{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center mt-5 mb-5"> <!-- Agregamos margen arriba y abajo del contenido -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Lactancia Materna:</h2>
            </div>
            <div class ="card-body">
                <p>En este apartado al ser un tema en el que estoy muy involucrada he decidido hablar un poco desde mi experiencia personal y luego se muestran distintos enlaces relacionados con la lactancia que pueden resultar de especial interés.</p>
                <p>En pleno 2024, con una hija (2 años y 9 meses) aun lactante y embarazada de 29 semanas con intención de realizar lactancia en tandem, en los talleres para futuras mamás oigo casi siempre: "yo quiero dar la teta, pero no sé si podré".
                    Cuando oigo eso, mi cabeza lo procesa igual que si alguien sin problemas digestivos dijera: "Yo quiero comer, pero no se si mi estómago cumplirá su función."</p>
                <p>Cada madre es libre de alimentar a su hijo como desee. Con lo que cuento en las siguientes líneas ni juzgo, ni obligo a que nadie haga algo que no tenga previsto. Mi única intención es informar y desmentir mitos que durante años han podido interferir en las madres a la hora de tomar la decisión sobre como alimentar a sus hijos.</p>
                <p>No hay madres sin leche, hay poca información y poco personal cualificado para ayudar a esas madres que quieren alimentar a sus hijos con su cuerpo y no saben como.
                Aun recuerdo cuando nació mi hija y estabamos en la habitación del hospital, venian a vernos para ver si todo iba bien, pero cuando les decía que pensaba que no se estaba alimentando nadie se sentó a ayudarme. Me trajeron dos botes de leche y me dijeron: "bueno ve dandole leche de esta si no". Y yo pensaba: "si le quiero dar mi leche ¿Por qué tengo que conformarme con la que me estan dando en este bote que no se ni como la han hecho, ni que contiene, ni si es lo que necesita mi hija en este momento?".
                Nos fuimos del hospital y busqué ayuda por otro lado, suerte que aun no se había jubilado aun y di con ella, [nombre matrona]. Nada mas llegar vio a mi hija, me dijo que tenía frenillo y probablemente eso le estaba impidiendo hacer un buen agarre y en menos de dos minutos me dijo la forma en que tenía que cogerla para que hiciera un buen agarre. 2 años y 9 meses después aun no se ha soltado y pienso que el día que lo haga me dará más pena a mí que a ella. 
                Este fue mi caso particular, es cierto que pueden darse otras circunstancias en las que sea imposible lograrlo y ahí es mejor aceptar la situación antes que forzarla. Simplemente deciros que si de primeras teneis algunos problemas pues que sigais vuestro instito y busqueis ayuda por otro lado, que no se fieis de lo que diga vuestra vecina del sexto que parió hace 40 años o vuestra tía "que ha criado a tres con leche de formula y estan estupendos".</p>
                <p>A día de hoy también se sigue escuchando la frase: La leche de fórmula es igual que la leche materna. IMPOSIBLE. Por muy conseguida que esté, por mucho que se parezca... la leche de fórmula jamás será igual que la leche materna. La leche materna se adapta a las necesidades del bebé en ese preciso día del año a esa hora del día, parece hasta magía, la naturaleza es sabia. Si tu hijo nace prematuro, tu leche tendrá los componentes necesarios para la situación de tu hijo en ese tiempo. Si tu hijo necesita en ese momento ciertas vitaminas, tu leche tendrá esas vitaminas. Si tu te resfrias le pasarás anticuerpos a tu hijo a través de tu leche y no le contagiarás tu resfriado, por lo que estará más protegido.</p>
                <p>En 2021 también tuve que escuchar: "no le di teta a mis hijos, mis tetas son de mi marido". Me eché a reir y pensé: ¿Pero aun no está criado tu marido? ¿Cuantos meses tiene? ¿Lo vas a llevar a la guardería?</p>
                <p>Esto no tiene nada que ver con la lactancia, pero también se escucha en estos tiempos: "no quiero coger al niño de la cuna aunque llore porque si no se acostumbra a los brazos". La respuesta de un pediatra que escuché una vez a eso es: "cuando te suenen las tripas porque tienes hambre, no comas, que si no a las horas te van a sonar de nuevo y vas a tener que comer otra vez".</p>
                <p>También pienso que de no haber sido por la lactancia materna nos habriamos extinguido hace muchos años, no me imagino en la prehistoria a las mamás preparando biberones de leche de fórmula. Por eso las mujeres debemos confiar en nosotras mismas y la capacidad de nuestro cuerpo para alimentar a nuestras crias como se ha estado haciendo durante muchisimos años.</p>
                <p>A continuación muestro los enlaces de interes relacionados con la lactancia:</p>
                <ul>
                    <li><a href="https://albalactanciamaterna.org/">albalactancia</a></li>
                    <li><a href="https://lactapp.es/">LactApp</a></li>
                    <li><a href="https://www.e-lactancia.org/">e-lactancia</a></li>
                    <li><a href="https://www.aeped.es/comite-nutricion-y-lactancia-materna/lactancia-materna/documentos/recomendaciones-sobre-lactancia-materna">Asociación Española de Pediatría</a></li>
                </ul>  
                <p>Dejo el enlace <a href="https://www.youtube.com/watch?v=K_WqBxwAbJY">aquí</a> de una canción de Rigoberta Bandini relacionado con el tema.</p>
                
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
<footer class="footer bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-content">
            <p class="text-muted">© 2024 developerrekerre</p>
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="/acerca_de/">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto/">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/politica_privacidad/">Política de privacidad</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>


<style>
.footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  
  
  .footer {
              width: 100%;
              background-color: #f8f9fa;
              padding: 20px 0;
              border-top: 1px solid #e9ecef;
              text-align: center;
              margin-top: 90px;
          }
  
  .footer .nav {
    justify-content: center; 
    }
  
  .footer .nav .nav-item {
    margin-right: 10px;
  }
  
  .footer .nav .nav-item:last-child {
    margin-right: 0;
  }
  
  .footer .nav .nav-link {
    color: #495057;
    font-weight: 500;
  }
  
  .footer .nav .nav-link:hover {
    color: #007bff;
  }
    </style>
    {% endblock %}