{% extends 'base.html' %}
{% block title %}Nauseas{% endblock %}
{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center" style="height: 100vh;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Nauseas:</h2>
            </div>
            <div class ="card-body"> 
                <p>Las nauseas en el embarazo son algo muy común, aun no se conoce la causa, pero puede ser por las hormonas u otros cambios que se producen en el cuerpo durante esos meses. 
                <p>No se dan en todos los embarazos, y una mujer puede experimentarlas en un embarazo y luego en otro no o viceversa.</p>
                <p>No siempre acaban en vómito.</p> 
                <p>Suelen desaparecer en el tercer o cuarto mes de gestación, aunque hay ocasiones en las que están presentes durante todo el embarazo.</p>
                <p>Aunque existen medicamentos para tratarlas, intente evitarlos y sobretodo consultelo antes con su médico. En mi primer embarazo no tuve nauseas, pero en el segundo si. En una consulta de urgencias (fui por otra cosa) le comenté al ginecólogo que estaba teniendo muchas nauseas, me dijo que tomara CARIBAN, le pregunté si era compatible con la lactancia y me dijo muy seguro que sí. Suerte que lo miré en <a href="https://www.e-lactancia.org/breastfeeding/cariban/tradename/">e-lactancia</a> antes de tomarlo y me llevé la sorpresa de que tenía riesgo alto. Tanto en el embarazo como en la lactancia antes de tomar cualquier medicamento debe tomar mucha precaución. </p> 
                <p>Algunos consejos:</p>
                <ul>
                    <li>Si suele tenerlas por la mañana tome algunas galletas saladas o tostadas secas al levantarse, incluso antes de bajarse de la cama en la mañana.</li>
                    <li>Mantener las habitaciones ventiladas para reducir olores. </li>
                    <li>Evite comidas abundantes.</li>
                    <li>Evite el consumo de cigarrillo directa e indirectamente.</li>
                    <li>Evite los alimentos con alto contenido de grasa y de sal.</li>
                    <li>Tome productos de jengibre.</li>
                </ul>
                <p></p>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}