{% extends 'base.html' %}
{% block title %}Suelo pélvico{% endblock %}
{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center" style="height: 100vh;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Suelo pélvico:</h2>
            </div>
            <div class ="card-body"> 
                <p>Al igual que con los ejercicios de preparación al parto te recomiendo que siempre que vayas a realizar algun ejercicio para la recuperación de tu suelo pélvico lo consultes con un profesional y este te guíe.</p>
                <p><a href="https://www.elpartoesnuestro.es/informacion/posparto/el-puerperio/cambios-fisicos-tras-el-parto/recuperacion-del-suelo-pelvico">Aquí</a> podeis acceder a información relacionada con el suelo pélvico y los cambios que experimenta durante el embarazo.</p>

            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}



