{% extends 'base.html' %}

{% block title %}Eliminar Sesión{% endblock %}

{% block content %}
{% include 'menu.html' %}
<div class="container d-flex justify-content-center" style="height: 100vh;">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Eliminar Sesión</h2>
            </div>
            <div class ="card-body"> 
                
                <form action="#" method="POST" class="d-flex flex-column align-items-center" >
               

                    {% csrf_token %}
                    <p>¿Estás seguro de que deseas eliminar esta sesión?</p>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                   
                   
                    <a href="/educacion_maternal/" class="btn btn-secondary">Cancelar</a>
                  
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}